// Variables;
$purple-color: #5429cc;
$purpleLight-color: #6933ff;
$green-color: #33cc95;
$red-color: #e52e4d;
$white-color: #fff;
$text-color: #969cb2;
$title-color: #363f5f;
$almost-white: #f0f2f5;
